# Simulation outputs
*.vcd
sim/sim_out

# Physical Design outputs (These stay local)
*.def
*.odb
*.vcd
*.ghw
pd/work/
*.history

# Ignore ALL OpenROAD/Magic intermediate artifacts
**/pd/*.ext
**/pd/*.mag
**/pd/*.nodes
**/pd/*.res
**/pd/*.spice

*.ext

**/pd/sky130_sram_*
**/pd/mini_soc_top.ext

# Software binaries
#sw/build/